/* ----ELEMENT STYLING START---- */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i&display=swap');

*body
{
    margin:0;
    padding:0;
}
body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
}
p {
  line-height: 1.75;
}

h1 {
  font-family: 'Lato', sans-serif;

  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: rgb(7, 133, 47);
  vertical-align: middle;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: rgb(43, 96, 177);
  vertical-align: middle;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: left;
  color: rgb(15, 14, 14);
  line-height: 1.75em;
  vertical-align: middle
}

/*--navbar--*/
p a {
  font-family:arial;
  color:orangered;
  font-size:40px;
  line-height:55px;
  float:left;
  padding: 0px 20px;
}
ul {
    margin:0px;
    padding:0px;
    list-style: none;
    text-align: center;
}
ul li {
    float:left;
    width: 200px;
    text-align: center;
    font-size: 25px;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
/* ul li a:hover {
    background-color:rgb(50, 58, 50)
} */
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}
/* ----Navbar END---- */

/* First line */
.jumbotron {
  background-image: url('../images/esgimg.jpg');
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  padding-top: 130px;
  padding-bottom: 50px;
  background-size: cover;
  min-height: 750px;
  margin: 0px;
  position: relative;
}

.jumbotron > .inner {
  position: relative;
  z-index: 2;
}


/* ----Descriptor START---- */
#descriptor{
  background-color:  rgb(58, 91, 139);
  padding-top: 100px;
  padding-bottom: 50px;
  color: whitesmoke;
  min-height: 400px;

}
/* ----Container START---- */

#dashboard{
  background-image: url('../images/seedling.jpg');
  background-size: cover;
  position: relative;
  padding-top: 50px;
}
#container {
  width: 800px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}


/* ----DESCRIPTION END---- */

/* ----IMAGE NAV START---- */
#imageNav-area {
  width: 180px;
  padding:10px;
  float: right;
}

.imageNav-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: Georgia;
  align-content: right;
}

.imageNav-photo {
  width: 50px;

  /* Box-model */
  height: 50px;
}

.imageNav-photo:hover {
  /* Visuals */
  opacity: 0.6;
}

.imageNav-photo.active {
  /* Visuals */
  border: 10px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: right;
}

/* heat map style */
/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
/* set map, body, and html to 100% of the screen size */
#map {
  height: 95%;
  padding-left: 10%;
  width: 95%;
}

#options {
  padding-top: 2%;
}

h1 {
  text-align: center;
}

/* ----IMAGE NAV END---- */

/* overview html */

#introduction {
  text-align: left;
  padding-top :15px;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20;
}

.home-about-textbox {
  text-align: left;
  padding-top :15px;
  color: darkgreen;
  font-family: 'Lato', sans-serif;
  font-size: 20; 
}

/* ----FOOTER START---- */
.footer navbar-fixed-bottom {
  /* Positioning */
  clear: both;
  background-color:lightgreen;
  padding:10px;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;
  margin-top: 30px;

  /* Visual */
  background-color: lightgreen;
}

.text-muted-footer{
  /* Positioning */
  margin-top: 10px;

  /* Typography */
  font-size: small;
  color: gray;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color:grey;
}
/* ----FOOTER END---- */
