<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ESG Risk Scores Dashboard</title>
    <!-- Boostrap Stylesheet -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="assets/static/css/styles1.css" media="screen">
    <!-- Importing google font library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    
  </head>

  <!--Start Home Section--> 
  <header>
    <img src="assets/static/images/WSWSlogo.png" alt="WSWSlogo" class= "logo">

  
  <!-- Start of Navigation -->
    <nav>
      <ul>
        <li><a href="#home">HOME</a></li>
        <li><a href="#overview">OVERVIEW</a></li>
        <li><a href="#chart">PORTFOLIO</a></li>
          <ul>
            <li><a href="#pie_chart">SECTROS</a></li>
            <li><a href="#bar_chart">INDUSTRIES</a></li>
            <li><a href="#table">ESG STATUS</a></li>
          </ul>
        <li><a href="#stock_analysis">STOCK ANALYSIS</a></li>
        <li><a href="#contact">CONTACT</a></li>
        </li>
        <form>
          <input class ="form-control" type="search" placeholder="Find" aria-label="Search">
          <button class="button-accent" type="submit" href="stock_analysis">STOCK TICKER</button>
        </form> 
                
      </ul>
    </nav>
  </header>
  <!-- End Navigation -->
  <!--End Header-->

  <!-- Start Landing Page Section -->
  <section class="home-page">
    <div class="container">
      <h1 class="landing-page"> ESG Stock Investing
        <span>Going beyond traditional stock analysis</span>
      </h1>
      <a class ="btn btn-outline-light btn-lg" href="#overview">Get Started</a>
    </div>
  </section>
  
  <!-- End Landing Page Section -->

  <!-- End Home Section -->

  <!-- Start of Overview -->

  <div class="home-about">

    <div class="home-about-textbox"></div>
      <h1>What is ESG ?</h1>
      <p>Environment, Social and Governance refers to the three central factors in measuring
         the <strong>sustainability and societal impact of an investment</strong> in a company or business. (Wikipedia)</p>
      <p>ESG Risk Rating is calculated by adding the amount of unmanaged risk for each material ESG issue.</p>
    </div>
  </div>
  
  <!-- End of Overview -->
  
  <!-- Start Portfolio Section-->

  <section class="visualizations">
    <h1>Major Findings</h1>

    <--visualization item 01 -->
      <figure>
        <img scr="static/images/WSWSlogo.png" alt="visualization item">
        <figcaption class="industries">
          <p>Industries</p>
          <a href="industries.html"><script src="statis/.js/filename" class="btn btn-outline-light btn-ml"></script></a>
        </figcaption>
      </figure>
    
    <--visualization item 02 -->
      <figure>
        <img scr="static/images/WSWSlogo.png" alt="visualization item">
        <figcaption class="industries">
          <p>Industries</p>
          <a href="sectors.html"><script src="statis/.js/filename" class="btn btn-outline-light btn-ml"></script></a>
        </figcaption>
      </figure>
    
    <--visualization item 03 -->
      <figure>
        <img scr="static/images/WSWSlogo.png" alt="visualization item">
        <figcaption class="industries">
          <p>Industries</p>
          <a href="geography.html"><script src="statis/.js/filename" class="btn btn-outline-light btn-ml"></script></a>
        </figcaption>
      </figure>

    <--visualization item 04 --> 
      <figure>
        <img scr="static/images/WSWSlogo.png" alt="visualization item">
        <figcaption class="industries">
          <p>Industries</p>
          <a href="stockanalysis.html"><script src="statis/.js/filename" class="btn btn-outline-light btn-ml"></script></a>
        </figcaption>
      </figure>
    
      <--visualization item 05 -->
      <figure>
        <img scr="static/images/WSWSlogo.png" alt="visualization item">
        <figcaption class="industries">
          <p>Industries</p>
          <a href="industries.html"><script src="statis/.js/filename" class="btn btn-outline-light btn-ml"></script></a>
        </figcaption>
      </figure>
    
    <--visualization item 06 --> 
      <figure>
        <img scr="static/images/WSWSlogo.png" alt="visualization item">
        <figcaption class="industries">
          <p>Industries</p>
          <a href="industries.html"><script src="statis/.js/filename" class="btn btn-outline-light btn-ml"></script></a>
        </figcaption>
      </figure>

  </section>

  <!-- End of Portfolio Section -->
    
  <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="col-2">
      <p>Copyright & Copy;2020 Wall Street Warriors (WSWs).
      </p>
      </div>
      <div class="col-3">
        <ul>
          <li>Gayatri</li>
          <li>Jorge</li>
          <li>Rina</li>
          <li>Steven</li>
          <li>Sumita</li>
          <li>William</li>
          <li>Zachary</li>
        </ul>
      </div>
    </footer>
  <!-- End of footer -->

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>